.main
{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    height: 700px;
    width: 700px;
     padding-top: 100px;
     padding-bottom: 400px;
    padding-right: 300px;
    margin-left: 100px;
    margin-right: 300px;
    margin-bottom: 100px;
}