.main
{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    height: 800px;
    width: 800px;
     padding-top: 100px;
    padding-right: 200px;
    margin-left: 100px;
    margin-right: 100px;
}